.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $main-color;
}

.error {
  background-color: $second-color;
}

.info {
  background-color: $third-color;
}

.success {
  background-color: $fourth-color;
}

.warning {
  background-color: $fifth-color;
}
